/*Geral*/
* {
  margin:0;
  padding:0;
}
:root {
  --header-main-color:rgb(253, 204, 212);
  --header-nav-color:darkgreen;
  --header-second-color:yellowgreen;
}
body {
  background-color: var(--header-main-color);
  font-family: 'Crimson Text', serif;
}
/*Header.php*/
header {
  background-color:var(--header-main-color);
  font-family: 'Crimson Text', serif;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;  
}
header h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 100px;
  text-align: center;
}
header ul {
  display:flex;
  flex-flow: wrap row;
  list-style:none;
  gap: 15px;
}
li a {
  color:var(--header-nav-color);
  text-decoration: none;
  font-size:40px;
}
li a:hover {
  font-weight: bold;
}
.compactnav {
  display:none;
}
@media (max-width:980px) {
  header h1 {
    font-size:10vw;
  }
  .titlenav {
    display: none;
  }
  .topquote {
    display: none;
  }
  .compactnav {
    width:100%;
    display:flex;
    justify-content: center;
    background-color:var(--header-main-color);
  }
  header ul {
    flex-flow:wrap column;
    align-items: center;
    gap:10px;
  }
  li a {
    font-size:40px;
  }
}

/*inicio.php*/
main {
  width:75%;
  padding:20px;
  box-sizing:border-box;
  display:flex;
  flex-flow: wrap column;
  align-items: center;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Crimson Text', serif;
  background-color: #FFF;
  border-radius: 25px;
}
.spotlight-container {
  width:100%;
  display:flex;
  box-sizing:content-box;
}
.spotlight {
  flex:4 1 0;
  align-items:center; 
  font-family: 'Crimson Text', serif;
}
.spotlight img {
  width:100%;
}
.spotlight p {
	font-size: 40px;
	text-align:center;
  background-color:var(--header-second-color);
}
.spotlight a {
	text-decoration:none;
	color:#FFF;
}
.spotlight a:hover {
  color:#FFF;
}
.spotlight-anuncio {
  flex:1 1 0;
  display:flex;
  box-sizing: content-box;
  margin-left: 5px;
}
.spotlight-anuncio img {
  width:100%;
 }
.container {
  width:100%;
  display:flex;
  gap:40px;
}
.coluna-conteudo {
  flex:2 1 0;
  display:flex;
  flex-flow:column;
  gap:40px;
 
}
.conteudo {
  display:flex;
  gap: 40px;
}
.conteudo-imagem {
  flex: 1 1 0;
  
}
.conteudo-principal {
  flex: 3 1 0;
}
.conteudo img {
  width:100%;
  border: 2px solid var(--header-second-color)
}
.conteudo h1 {
  font-size: 40px;
  font-weight: normal;
  margin-bottom: 20px;
}
.conteudo a {
  text-decoration: none;
  color:#000;
}
.conteudo a:hover {
  color: var(--header-second-color);
}
.conteudo p {
  font-size: 26px;
  font-family: 'Open Sans', sans-serif;
  text-indent: 50px;
}
.conteudo-atributos {
  width:95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
}
.conteudo-atributos ul {
  list-style: none;
  display:flex;
  gap:10px;
  font-size: 20px;
}
.tag {
  background-color: var(--header-second-color);
  padding:0 10px;
  border-radius:5px;
}
.conteudo-atributos-comentarios {
  font-size:20px;
  background-color:var(--header-second-color);
  padding:0px 10px;
  border-radius: 5px;
}
.conteudo-leia-mais {
  width:95%;
  font-size:25px;
  text-align:right;
  margin-top:5px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}
.conteudo-left {
  flex: 1 1 0;
  display:flex;
  flex-flow: wrap column;
  gap:20px;
}
.left-anuncio {
  display:none;
}
.left-anuncio img {
  width:100%;
}
.conteudo-left-div {
  display:flex;
  flex-flow: wrap column;
}
.conteudo-left h1 {
  font-weight: normal;
  background-color: var(--header-second-color);
  text-align:center;
  border-radius: 5px;
}
.conteudo-left a {
  font-size:22px;
  text-align:center;
  text-decoration: none;
  color:#000;
  font-family: 'Open Sans', sans-serif;
}
.conteudo-left a:hover {
  color: var(--header-nav-color);
}
.conteudo-left-apoie {
  width:100%;
  display:flex;
  flex-flow:column;
  align-items: center;
  margin-top:10px;
}
.conteudo-left-apoie div {
  width:100%;
  text-align: center;
}
.conteudo-left-apoie img {
  width:100%;
}


@media (max-width:1920px) {
  .spotlight-anuncio {
    display:none;
  }
  .left-anuncio {
    display:flex;
    flex-flow:wrap column;  
    justify-content: center;
    align-items: center;
  }
}
@media (max-width:1200px) {
  .conteudo-left {
    display:none;
  }
}
@media (max-width:980px) {
  body {
    margin:10px;
  }
  main {
    width:100%;
  }
  .conteudo-left {
    display:none;
  }
  .p_previa p {
    display:none;
  }
  .conteudo-leia-mais {
    display:none;
  }
  .spotlight-container {
    flex-flow:wrap column;
  }
}
/*contato*/
.contato-titulo {
  font-family: 'Crimson Text', serif;
  width:100%;
  text-align: center;
  font-weight: normal;
  font-size:40px;
  color:#FFF;
  background-color:var(--header-second-color);
}
form {
  width:80%;
  margin:40px 0;
  display:flex;
  flex-flow:wrap column;
  gap:20px;
}
label {
  width:100%;
  display:block;
  font-size:30px;
}
input {
  width:100%;
  font-size:22px;
  display:block;
  border-color: var(--header-main-color);
}
textarea {
  width:100%;
  font-size: 22px;
  border-color: var(--header-main-color);
  resize: none;
}
select {
  font-size:22px;
}
button {
  font-size:30px;
  font-family: 'Crimson Text', serif;
  padding:5px;
  background-color: var(--header-main-color);
}
@media (max-width:980px) {
  form {
    width:100%;
  }
}
/*contato-sucesso*/
.contato-sucesso {
  width:60%;
  display:flex;
  flex-flow: wrap column;
  align-items: center;
  margin:40px 0;
  margin-left: auto;
  margin-right:auto;
  padding:40px;
}
.contato-sucesso h1 {
  width:100%;
  text-align: center;
  font-family: 'Crimson Text', serif;
  font-size:50px;
  font-weight: normal;
  padding:10px;
}
.contato-sucesso a {
  font-family: 'Crimson Text', serif;
  font-size: 50px;
  color: var(--header-nav-color)
}
.contato-sucesso img {
  width:50%;
  margin: 20px 0;
  border-bottom:2px solid var(--header-second-color)
}
/*conteudo*/
.conteudo-pagina-autor {
  font-size:30px;
}
.conteudo-pagina-autor a {
  font-size:30px;
}
/*depoimentos*/
.depoimento-main {
  justify-content: center;
  min-height:60vh;
}
.carousel-container {
  width:100%;
}
.depoimento-coluna {
  display:flex;
  gap:20px;
  align-items: center;
  flex-flow: column;
  justify-content: center;
  width:100%;
  box-sizing: border-box;
  text-align: center;
}
.depoimento-coluna div {
  width: 75%;
}
.depoimento-coluna p {
  font-size: 26px;
  font-family: 'Open Sans', sans-serif;
}
.depoimento-complemento {
  font-size:22px;
}
.depoimento-escrever a {
  margin: 20px 0;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
  color:#000;
  display: block;  
}
.depoimento-escrever a:hover {
  color:var(--header-nav-color);
}
/*fake*/
.fake-bkg {
  background-color: #FFF;
}
.fake-form {
  width:100%;
}
.fake-listas {
  font-family: 'Open Sans', sans-serif;
}
.fake-listas h1 {
  border-bottom: 1px solid #000;
}
.fake-listas ul{
  list-style: none;
}
.fake-listas a {
  font-size: 22px;
}
/*footer*/
footer {
  font-family: 'Crimson Text', serif;
  margin-top:40px;
}
footer p {
  background-color:var(--header-second-color);
  text-align:center;
  padding:20px 0;
  font-size: 40px;
  color:#FFF;
}
footer ul {
  display:flex;
  justify-content: center;
  gap:20px;
  list-style: none;
  background-color: var(--header-main-color);
}